/*==Reset CSS==*/
* {
    margin: 0;
    padding: 0;
}

/*==Style cÃ†Â¡ bÃ¡ÂºÂ£n cho website==*/
body {
    font-family: sans-serif;
    color: #333;
}

/*Boder===========*/
.boder {
    border: 3px solid white;
    border-radius: 1em;
    margin-top: 12px;
    max-width: 984px;
    margin: auto;
    background: wheat;
}

.prolife {
    text-align: center;
    border: 2px dashed white;
    margin: auto;
    padding: 12px;
    border-radius: 12px;
    color: white;
    margin: 6px;
    background: #009688;
}

.prolife {}

.prolife_title {
    font-size: 50px;
    font-weight: bold;
}
.list_contest{border: 3px solid #efefef;border-radius: 19px;padding: 12px;background: #009688;}
.contest_box{
    margin-bottom: 12px;
    background: #009688;
    border: 5px solid white;
    padding: 3px;
    border-radius: 12px;
    padding: 6px;
}
#title_contest{
    font-size: 24px;
    color: white;
}
#author_contest{
    color: #fef5f5;
    margin-right: 12px;
}

h2{
    text-align: center;
    color: rebeccapurple;
}

.prolife ul{list-style-type: none}

.contest_box a{text-decoration: none;color: white;}



.contest_box:hover{background: #E91E63;color: black;}

.contest_box:active{background: #327735;color: black}









