* {
    margin: 0px;
    padding: 0px
}
#show_main_contest{display: none;}
body {
    font-family: sans-serif;
    color: #333;
}

.main-contest {
    margin: auto;
    background-color: #01685fd1;
    font-size: 24px;
    color: white;
    border-radius: 17px;
    font-family: "Times New Roman";
    width: 77%;
    border: 6px solid white;
}

input[type=radio] {
    height: 14px;
    -ms-transform: scale(1.5); /* IE 9 */
    -webkit-transform: scale(1.5); /* Chrome, Safari, Opera */
    transform: scale(1.5);
}

.move-content {
    padding: 12px;

}
#security{text-align:center;border: 4px solid white;padding:12px;background: #009688;max-width: 1000px;margin: auto;border-radius: 12px;color: white;}
#start{font-size:20px;font-family:"Time New Roman";border: 4px solid white;padding: 4px;background: center;color: white;border-radius: 12px;margin-top: 12px;}

#start:hover{
    background: #E91E63;
    color:white;
    border FONT-WEIGHT: 600;
}
.clock{
    text-align: center;
    border-bottom: 3px solid white;
    font-size: 31px;
    width: 100%;
    background: #009688;
    margin-top: -12px;
    color: white;
    /* border-radius: 10px; */
    z-index: 1;
}



