* {
    margin: 0px;
    padding: 0px
}
#show_main_contest{display: none;}
body {
    font-family: sans-serif;
    color: #333;
}

.main-contest {
    margin: auto;
    background-color: #4a54d5;
    font-size: 25px;
    color: white;
    border-radius: 32px;
    font-family: "Times New Roman";
    width: 77%;
}

input[type=radio] {
    height: 14px;
    -ms-transform: scale(1.5); /* IE 9 */
    -webkit-transform: scale(1.5); /* Chrome, Safari, Opera */
    transform: scale(1.5);
}

.move-content {
    padding: 12px;

}
#security{text-align:center;border:1px solid red;padding:12px;background:pink;}
#start{font-size:20px; font-family:"Time New Roman";border: 1px solid black;}

#start:hover{
    background:red;
    color:white;

}
.clock{text-align: center;
        border: 1px solid red;
        font-size: 30px;
         width: 100%;
        background: white;
        z-index: 1;
}



