*{
    margin: 0;
    padding: 0;
}

.boder{
    max-width: 1000px;
    margin: auto;
    background: #009688;
    border: 9px solid white;
    border-radius: 12px;
    margin-top: 12px;
}
.info_manager{
    text-align: center;
    font-size: 25px;
    font-family: monospace;
    border-bottom: 2px dashed black;
    margin-bottom: 12px;
    padding-bottom: 12px;
}

@media only screen and  (min-width: 800px){
    .boder{padding: 12px}

}
.back_admin{
    padding: 5px;
    color: red;
    font-size: 17px;
    background: white;
    border: 5px solid white;
    border-radius: 14px;
    background: center;
}
.back_admin a{
    text-decoration: none;
    color: white;
    font-weight: bold;
}
.body_editor{padding: 30px}
/*============Creat===============*/
.main_creat{
    max-width: 316px;
    background: #03A9F4;
    padding: 12px;
    margin: 12px;
    border-radius: 12px;
    font-size: 18px;
}
.main_creat input{
    border: 1px solid;
    padding: 2px;
    border-radius: 7px;
    display: block;
    border: 3px solid white;
    margin-top: 5px;
}
.body_editor{
    max-width: 1000px;
    border: 10px solid white;
    padding-top: 12px;
    padding-bottom: 12px;
    margin: auto;
    margin-top: 10px;
    background: #009688;
    border-radius: 12px;
    color: white;
}
#result_edit{border: 1px solid;}
.search-form{
    text-align: center;
    font-size: 30px;
    margin-bottom: 20px;
    border-bottom: 2px dashed;
    padding-bottom: 12px;
}

.search-form input{
    padding: 10px;
    border-radius: 12px;
    background: center;
    border: 3px solid white;
    color: white;
}
#result_edit p{
    display: inline;
}
#result_edit button{
    float: right;
    margin-right: 12px;
    font-size: 20px;
    line-height: 100%;
    border: 1px solid #00BCD4;
    border-radius: 5px;
    padding: 2px;
    background: center;
}

#list_test{
    padding: 14px 0 13px 0;
    border-bottom: 1px solid;
}
#result_edit button a{
    text-decoration: none;
    color: black;
}

#result_edit button:hover{
    background: #009688;
    color: white;
    transition-delay: 200ms;
}
#result_edit button a:hover{
    color: white;
    transition-delay: 200ms;
    background: #00BCD4;
    padding: 2px;
}

.edit_data{
    max-width: 90%;
    margin: auto;
}
#send{padding: 12px}
.box_correct{
    width: 20%;
    display: inline-block;
}
#answer{
    width: 83%;
    padding: 3px;
    border: 1px solid;
    border-radius: 17px;
}

.title{
    border: 1px solid;
    padding: 6px;
    margin-left: 10px;
    margin-bottom: 12px;
    border-radius: 12px;
}

#delete{background: #009688;width: 39px;padding: 2px;text-align: center;border-radius: 8px;float: right;margin-right: 12px;border: 1px solid #00BCD4;}

#confirm_delete{
    display:none;
    text-align: center;
    background: #0000005c;
    margin: auto;
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
}

#confirm_delete button{
    margin: 1px;
    padding: 7px;
    border: 2px solid white;
    background: #4CAF50;
    border-radius: 9px;
    color: white;
    width: 136px;
    margin-left: 8px;
}
.cf{
    max-width: 80%;
    margin: auto;
    background: #009688;
    margin-top: 26%;
    padding-top: 30px;
    padding-bottom: 30px;
    border-radius: 12px;
    border: 4px solid white;
}

.cf_div{
    color: white;
    font-size: 20px;
    margin-bottom: 12px;
}
#confirm_delete button:hover{
    border: 11px solid;
    background: #e91e63;
    transition-delay: 100ms;
}

.cf a{text-decoration: none;color: white;font-weight: bold;}
#delete:hover{
    border: 3px solid;
    background: #E91E63;
}
#code{
    border: 3px solid white;
    background: center;
    border-radius: 13px;
}
.search-form input:hover{
    background: purple;
}