*{
    margin: 0;
    padding: 0;
}

.boder{
    max-width: 1000px;
    margin: auto;
    background:lightpink;
    border: 1px solid crimson;
    border-radius: 12px;
    margin-top: 12px;

}
.info_manager{
    text-align: center;
    font-size: 25px;
    font-family: monospace;
    border-bottom: 2px dashed black;
    margin-bottom: 12px;
    padding-bottom: 12px;
}

@media only screen and  (min-width: 800px){
    .boder{padding: 12px}

}
.back_admin{padding: 5px;color: red;
    font-size: 17px;
    background: white;
    border: 1px solid black;
    border-radius: 14px;}
.back_admin a{
    text-decoration: none;
    color: black;
    font-weight: bold;
}
.body_editor{padding: 30px}
/*============Creat===============*/
.main_creat{
    max-width: 316px;
    background: #03A9F4;
    padding: 12px;
    margin: 12px;
    border-radius: 12px;
    font-size: 18px;
}
.main_creat input{
    border: 1px solid;
    padding: 2px;
    border-radius: 7px;
    display: block;
}
.body_editor{
    max-width: 1000px;
    border: 1px solid red;
    padding-top: 12px;
    padding-bottom: 12px;
    margin: auto;
    margin-top: 10px;
}
#result_edit{border: 1px solid;}
.search-form{
    text-align: center;
    font-size: 30px;
    margin-bottom: 20px;
    border-bottom: 2px dashed;
    padding-bottom: 12px;
}

.search-form input{
    padding: 10px;
}
#result_edit p{
    display: inline;
}
#result_edit button{
    float: right;
    margin-right: 12px;
    font-size: 20px;
    line-height: 100%;
    border: 1px solid #00BCD4;
    border-radius: 5px;
    padding: 2px;
}

#list_test{
    padding: 14px 0 13px 0;
    border-bottom: 1px solid;
}
#result_edit button a{
    text-decoration: none;
    color: black;
}

#result_edit button:hover{
    background: #009688;
    color: white;
    transition-delay: 200ms;
}
#result_edit button a:hover{
    color: white;
    transition-delay: 200ms;
}